  .login-body-murten {

    &::after {
      background-image: url('https://platform.terapixelpanorama.ch/iiif/part123_decurve_align_crop_20240620_75_512.tif/5914,183687,107773,71025/1500,/0/default.jpg');

      filter: grayscale(50%);

      content: "";
      opacity: 0.5;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      width: auto;
      height: 100%;

    }
  }